<div class="page-header">
  <h1>
    <figure class="avatar-contenedor">  <%= image_tag(@user.avatar.url(:medium), :class => 'avatar-medium') %></figure>
    <%= @user.nombre_completo %>
  </h1>
</div>

<%= render 'statuses/status' %>
